DATABASE_URL=postgresql://neondb_owner:****@ep-restless-paper-a1pokcpk-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=****
HOST=0.0.0.0
PORT=1337
NODE_ENV=development

